.App {
  text-align: center;
}

.form-control{
  margin: 10px;
  padding: 0 12px  !important;
}
.btn-login{
  /* text-align: center; */
  margin: 12px;
}
.row{ 
  display: flex;
  justify-content: center;
}
.form-group{
  width: 400px;
  padding: 0 !important;
}
.mt-5{
  margin-top: 10px;
}
.m-auto {
  margin: 12px;
}